body {
  background-color: #662222;
  font-family: sans-serif;
}

header {
  background-color: #f5daa7;
  padding: 1.5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  background-color: #a3485a;
  padding: 0.3em 0.8em;
  border-radius: 0.5em;
  margin: 0;
}

.slogan {
  flex-basis: 100%;
  color: #6e0202;
  font-weight: bold;
  font-style: italic;
  text-indent: 1em;
  margin: 0.5em 0;
  background-color: transparent;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-top: 1em;
}

header nav a {
  background-color: #a3485a;
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 1em;
}

main {
  color: #6e0202;
  display: flex;
  gap: 2em;
  padding: 2em 3em;
  max-width: 1200px;
  margin: 0 auto;
}

aside {
  flex: 0 0 200px;
}

ul {
  background-color: #f5daa7;
  padding: 1.5em;
  border-radius: 0.5em;
  list-style: none;
  color: black;
}

li {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #a3485a;
  border-radius: 0.3em;
  text-align: center;
}

article {
  flex: 1;
  background-color: #f5daa7;
  padding: 2em;
  border-radius: 0.5em;
}

.testimonial {
  background-color: #f5daa7;
  padding: 1.5em;
  border-radius: 0.5em;
  margin: 2em 0;
  border-left: 0.3em solid #b87c4c;
}

footer {
  background-color: #f5daa7;
  text-align: center;
  width: fit-content;
  margin: 2em auto 0;
  padding: 1.5em;
  border-radius: 1em;
}
